<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Send Moods</li>
            <li>
                <ul class="menu">
                    {{#if isAuthenticated}}
                    <li><a href="/logout">Log Out</a></li>
                    {{else}}
                    <li><a href="/signup">Sign Up</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </div>
</div>