<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <a href="/"><img class="nav" src="https://i.ibb.co/sbkG8h7/logoimage.jpg" alt="logoimage" border="0"/></a>


            <li>
                <ul class="menu">
                    {{#if isAuthenticated}}
                    <li><a href="/logout">Log Out</a></li>
                    {{else}}
                    <li><a href="/signup">Sign Up</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </div>
</div>