<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Send Moods</li>
            <li>
                <ul class="menu">
                    <li><a href="login.html">Log In</a></li>
                    <li><a href="signup.html">Sign Up</a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>