{{> topbar }}

<div>
  <div class="createbackground">
    <div class="translucent-form-overlay">
      <form>

        <h1>Input your playlist</h1>

        <div class="row columns">
          <label>Title
            <input type="text" name="tile" id="title" placeholder="Title of your Playlist">
          </label>
          <label>Mood
            <input type="text" name="tile" id="mood" placeholder="Mood of your Playlist">
          </label>
          <label>Description
            <input type="text" name="tile" id="description" placeholder="Description of your Playlist">
          </label>
          <label>YouTube URL Link
            <input type="text" name="tile" id="youtube" placeholder="https://www.youtube.com/watch/?v=">
          </label>

          <button type="button" id="createbutton" class="primary button expanded search-button">
            Create Playlist
          </button>
      </form>

    </div>

  </div>
</div>
</div>