{{> topbar}}

<div id="input">
  <form>
    <label for="title">Title</label>
    <input type="text" />
    <label for="title">Mood</label>
    <input type="text" />
    <label for="title">Description</label>
    <textarea type="text"> </textarea>
    <label for="title">Youtube Video URL</label>
    <input type="text" />

    <button>Create Playlist</button>
  </form>

</div>