 {{> topbar }}
 <div class="login-box">
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <form class="login-box-form-section">
            <h1 class="login-box-title">Log In</h1>
            <input
              class="login-box-input"
              type="text"
              name="email"
              placeholder="Email"
            />
            <input
              class="login-box-input"
              type="password"
              name="password"
              placeholder="Password"
            />
            
            <input
              class="login-box-submit-button"
              type="submit"
              name="signup_submit"
              value="Log In"
            />
          </form>
        </div>
        <div class="or">OR</div>
        <div
          class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section"
        >
          <div class="login-box-social-section-inner">
            <span class="login-box-social-headline"
              >Log in with<br />your social network</span
            >
            <a class="login-box-social-button-facebook">Log in with facebook</a>
            <a class="login-box-social-button-twitter">Log in with Twitter</a>
            <a class="login-box-social-button-google">Log in with Google+</a>
          </div>
        </div>
      </div>
    </div>

