{{> topbar}}

<div class="header-grid">
    <a href="/create-playlist">
        <div class="block">Make Your Own</div>
    </a>
    {{#each playlist}}
    <a href="/playlist/{{id}}">
        <div class="block">{{title}}</div>
    </a>
    {{/each}}
</div>


<div class="header-grid">
    <a href="/playlist1">
        <div class="block1">Ambient Med</div>
    </a>
</div>