  {{> topbar }}

<div id="danny">
    <div class="work-feature-block row">
        <div class="columns medium-7">
            <img class="work-feature-block-image"
                src="https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" />
        </div>
        <div class="columns medium-5">
            <h3 class="work-feature-block-header">Welcome <span class="member-name"></span></h3>
            <hr>
            <p>Check out our music moods, then add your own!</p>
            <a href="#" class="button expanded learn-button" id="learn">Check It Out!</a>
        </div>
    </div>
</div>

<div class="featured-image-block-grid">
  
  <div class="row large-up-4 small-up-2">
    <div class="featured-image-block column">
     <a href="/create-playlist">
        <img src="https://images.unsplash.com/photo-1532254749169-ca0e30f76aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Make your Own</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/playpage/1">
        <img src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Ambient Meditative playlist</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/playpage/2">
        <img src="https://images.unsplash.com/photo-1504507926084-34cf0b939964?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Concentration and Focus</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/playpage/3">
        <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">High Intensity Workout</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/playpage/4">
        <img src="https://media0.giphy.com/media/KfwyWfTwMu1FG0XhO8/200w.webp?cid=ecf05e479d771b9e028318c2bcc02df12ececab98751f718&rid=200w.webp" />
        <p class="text-center featured-image-block-title">Coding time</p>
      </a>
    </div>
  
    <div class="featured-image-block column">
     <a href="/playpage/5">
        <img src="https://images.unsplash.com/photo-1501238295340-c810d3c156d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Party it Up!</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/playpage/6">
        <img src="https://media0.giphy.com/media/26gR1gFZsV6WXsdpK/200w.webp?cid=ecf05e47200e889ae21573f549c90adb51e7fbcb32e0e545&rid=200w.webp" />
        <p class="text-center featured-image-block-title">Slow Jams</p>
      </a>
    </div>

    <div class="featured-image-block column">
     <a href="/playpage/7">
        <img src="https://images.unsplash.com/photo-1534276866337-55723bdee569?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Chill Out</p>
      </a>
    </div>

    <div class="featured-image-block column">
     <a href="/playpage/8">
        <img src="https://images.unsplash.com/photo-1558019939-63dfb181280b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Jazz and Coffee</p>
      </a>
    </div>

    <div class="featured-image-block column">
     <a href="/playpage/9">
        <img src="https://images.unsplash.com/photo-1554931405-300b3b4db352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
        <p class="text-center featured-image-block-title">Feeling Classical</p>
      </a>
    </div>

    {{#each playlist}}
    <a href="/playlist/{{id}}">
        <div class="block">{{title}}</div>
    </a>
    {{/each}}

  </div>
</div>





    



