{{>body}}

{{!-- <div class="card">
    <div row <div class="header-grid">
        <div id="b1" class="block"> <a href="playpage.html"> Ambient Meditative </a> </div>
        <div id="b2" class="block"> <a href="playpage.html"> High Energy Focus </a> </div>
        <div id="b3" class="block"> <a href="playpage.html"> High Intensity Workout </a> </div>
        <div id="b4" class="block"> <a href="playpage.html"> Coding time </a> </div>
        <div class="bottom-block">
            <div id="b5" class="block"><a href="playpage.html"> Party it Up!</a></div>
            <div id="b6" class="block">Slow Jams</div>
            <div id="b7" class="block">Make Your Own</div>
        </div>
    </div>
</div> --}}

{
firstName: "Kate",
lastName: "Wade",
}

<div class="grid-container">
    <div class="row">
        <div class="col-1">
            <div class="card-1">
                <div class="card-title">
                    <h1>Card Title</h1>
                    <h1>{{firstName}}</h1>
                    <div class="card-name">
                        <h4>Card Name</h4>
                        <h4>{{lastName}}</h4>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-2">
            <div class="card-2">
                <div class="card-title">
                    <div class="card-name">

                    </div>

                </div>

            </div>

        </div>
        <div class="col-3">
            <div class="card-3">
                <div class="card-title">
                    <div class="card-name">

                    </div>

                </div>

            </div>

        </div>
        <div class="col-4">
            <div class="card-4">
                <div class="card-title">
                    <div class="card-name">

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>