  {{> topbar }}

<div id="danny">
    <div class="work-feature-block row">
        <div class="columns medium-7">
            <img class="work-feature-block-image"
                src="https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" />
        </div>
        <div class="columns medium-5">
            <h3 class="work-feature-block-header">Welcome <span class="member-name"></span></h3>
            <hr>
            <p>Check out our music moods, then add your own!</p>
            <a href="#" class="button expanded learn-button" id="learn">Check It Out!</a>
        </div>
    </div>
</div>


<div class="header-grid" id="playBoxes">
    <a href="/create-playlist">
        <div class="block">Make Your Own</div>
    </a>
    {{#each playlist}}
    <a href="/playlist/{{id}}">
        <div class="block">{{title}}</div>
    </a>
    {{/each}}


    <a href="/playpage/1">
        <div class="block">Ambient Meditative playlist</div>
    </a>

    <a href="/playpage/2">
        <div class="block">Concentration & Focus</div>
    </a>
    <a href="/playpage/3">
        <div class="block">High Intensity Workout</div>
    </a>
    <a href="/playpage/4">
        <div class="block">Coding time</div>
    </a>
    <a href="/playpage/5">
        <div class="block">Party it Up!</div>
    </a>
    <a href="/playpage/6">
        <div class="block">Slow Jams</div>
    </a>
    <a href="/playpage/7">
        <div class="block">Chill Out</div>
    </a>
    <a href="/playpage/8">
        <div class="block">Jazz & Coffee</div>
    </a>
    <a href="/playpage/9">
        <div class="block">Feeling Classical</div>
    </a>

</div>