<div>
    {{User.email}}
    {{createdAt}}
</div>
<div>
    <h1>Feeling Classical</h1>
    <p>Here is a playlist designed for all the classical music fans out there.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jgpJVI3tDbY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img data-mood={{mood}} src="UNSPLASH URL" alt="placeholder">

</div>