<div>
    {{User.email}}
    {{createdAt}}
</div>
<div>
    <h1>Jazz & Coffee</h1>
    <p>If you are feeling like listening to some jazz this will be perfect especially with some coffee.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5FN2sjIhxa4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img data-mood={{mood}} src="UNSPLASH URL" alt="placeholder">

</div>