.body{
  background-color: #210124;
}

.top-bar{
  color: #4c5b61;
  
}




.login-box, .signup-box {
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
  background: #210124;
  color: #4c5b61;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}

.login-box .or, .signup-box .or {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  min-width: 2.1em;
  padding: 0.3em;
  border-radius: 50%;
  font-size: 0.6rem;
  text-align: center;
  font-size: 1.275rem;
  background: #cacaca;
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-title, .signup-box-title {
  font-weight: 300;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

.login-box-form-section,
.login-box-social-section-inner, .signup-box-form-section,
.signup-box-social-section-inner {
  padding: 2.5rem;
}

.login-box-social-section, .signup-box-social-section {
  background: url("https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.login-box-input, .signup-box-input {
  margin-bottom: 1.25rem;
  height: 2rem;
  border: 0;
  padding-left: 0;
  box-shadow: none;
  border-bottom: 1px solid #1779ba;
  font-weight: 400;
}

.login-box-input:focus, .signup-box-input:focus {
  color: #1779ba;
  transition: 0.2s ease-in-out;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid #1779ba;
}

.login-box-submit-button, .signup-box-submit-button {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  border-radius: 0;
  text-transform: uppercase;
  margin-bottom: 0;
}

[data-whatinput='mouse'] .login-box-submit-button {
  outline: 0;
}

.login-box-submit-button:hover, .login-box-submit-button:focus {
  background-color: #126195;
  color: #fefefe;
}

.login-box-submit-button:hover,
.login-box-submit-button:focus {
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-submit-button:active {
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.4);
}

.login-box-social-button-facebook {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #3b5998;
  color: #fefefe;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-weight: 500;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

[data-whatinput='mouse'] .login-box-social-button-facebook {
  outline: 0;
}

.login-box-social-button-facebook:hover, .login-box-social-button-facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.login-box-social-button-twitter {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #55acee;
  color: #fefefe;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-weight: 500;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

[data-whatinput='mouse'] .login-box-social-button-twitter {
  outline: 0;
}

.login-box-social-button-twitter:hover, .login-box-social-button-twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.login-box-social-button-google {
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #dd4b39;
  color: #fefefe;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-weight: 500;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

[data-whatinput='mouse'] .login-box-social-button-google {
  outline: 0;
}

.login-box-social-button-google:hover, .login-box-social-button-google:focus {
  background-color: #be3221;
  color: #fefefe;
}

[class*="login-box-social-button-"]:hover,
[class*="login-box-social-button-"]:focus {
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
}

.login-box-social-headline {
  display: block;
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  color: #fefefe;
  text-align: center;
}

.header-grid {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: (1fr)(5);
      grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "big-top big-top big-top small-top small-top" "small-middle small-middle big-middle big-middle big-middle" "big-bottom big-bottom big-bottom big-bottom big-bottom";
}

.block {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  background: #89A6BE;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.block:hover {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

#b1 {
  grid-area: big-top;
  text-align: center;
  color: #Ab0d17;

}

#b2 {
  grid-area: small-top;
  text-align: center;
  color: #Ab0d17;
}

#b3 {
  grid-area: small-middle;
  text-align: center;
  color: #Ab0d17;
}

#b4 {
  grid-area: big-middle;
  text-align: center;
  color: #Ab0d17;
}


.bottom-block {
  grid-area: big-bottom;
  display: -ms-grid;
  display: grid;
  text-align: center;
  color: #Ab0d17;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.holy-grail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  background: #210124;
}

@media screen and (max-width: 60em) {
  .holy-grail-grid {
    -ms-grid-rows: 2fr 1fr 5fr 1fr;
        grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-middle,
.holy-grail-right,
.holy-grail-footer {
  padding: 1rem;
  border: 1px solid #070707;
  background-color: #726e97;
  color: #aaabbc;
}

.holy-grail-header {
  background-color: #070707;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

@media screen and (max-width: 60em) {
  .holy-grail-left {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-middle {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .right-nav {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}

.holy-grail-footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}


.comment-section-container {
  background-color: #fefefe;
  padding: 1rem;
}

.comment-section-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.comment-section-author .comment-section-name {
  margin-left: 1rem;
}

.comment-section-author .comment-section-name p {
  margin-bottom: 0;
}

.comment-section-box {
  background-color: #e6e6e6;
  padding: 1rem;
}


.rating-block {
padding: 2px 5px;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.rating-block .ratings-type {
margin-right: 1rem;
margin-bottom: 0;
}

.rating-block .rating-block {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom: 2rem;
}

.rating-block .rating-block-rating {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}

.rating-block .star {
cursor: pointer;
stroke: #cc4b37;
}

.rating-block .rating-block-rating .star.selected polygon {
fill: #cc4b37;
}

.rating-block .rating-block-rating.is-voted .star polygon {
fill: #cc4b37;
}

.rating-block .rating-block-rating.is-voted .star.selected ~ .star polygon {
fill: transparent;
}


.large-article-header {
  background-color: #210124;
  background-size: cover;
  height: 31.25rem;
  position: relative;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header {
    height: 20.83333rem;
  }
}

.large-article-header-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 3.125rem;
  left: 0;
  right: 0;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content {
    bottom: 1.25rem;
  }
}

.large-article-header-content .center-container {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content .center-container {
    width: 100%;
    padding: 0 1.25rem;
  }
}

.large-article-header-content .article-date {
  color: #fefefe;
}

.large-article-header-content .article-title h1 {
  line-height: 3.0rem;
  color: #fefefe;
  font-weight: 300;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content .article-title h1 {
    line-height: 1.875rem;
  }
}

.large-article-header-content .article-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.large-article-header-content .article-details a {
  color: #fefefe;
}

.large-article-header-content .article-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.large-article-header-content .article-author img {
  border-radius: 3.125rem;
}

.large-article-header-content .article-author a {
  margin-left: 1rem;
}

img.style {
  margin-left: 50px;
}


.read-more-content,
.read-more {
  display: none;
  margin-top: 1rem;
}

.read-more-content.expanded .read-more,
.read-more.expanded .read-more {
  display: block;
}


